@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css';

body{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    background: linear-gradient(90deg, #e3daff, #f6f9ff, #fdebfd);
}
.container-o {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}
.container-form, .container-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
}
.container-img img {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}
.formulario{
    width: 350px;
    background: white;
    box-shadow:#6c3483;
}
.formulario h1{
    text-align: center;
    padding: 20px 0 0px 0;
    font-size: 24px;
    font-weight: 200;
    color: #6c3483;
    font-family: georgia;
}
.formulario form{
    padding: 10px 20px;
    box-sizing: border-box;
}
form .username{
    position: relative;
    margin: 7px 0;
}
.username input{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 14px;
    border: none;
    background: #fae9ff;
    outline: none;
    border: 1px solid #cfcfcf;
    border-radius: 7px;
}
/* .username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%
} */
.recordar{
    margin: 10px 0 10px 0;
    color: #0c59cf;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.recordar:hover{
    text-decoration: underline;
}
input[value="ingresar"]{
    width: 100%;
    height: 50px;
    margin: 0px 0px 20px 0px;
    border: 1px solid #b8c0ff;
    background: #ce93d8;
    border-radius: 7px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: 600;
}
input[type="submit"]:hover{
    border-color: purple;
    transition: .3s;
}
input[value="Registrarse"]{
    width: 80%;
    height: 40px;
    margin: 20px 5px 30px 5px;
    border: 1px solid #b8c0ff;
    background: #ce93d8;
    border-radius: 7px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: 600;
}
.container-img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
}
.container-img1 img {
    width: 0%;
    max-width: 1000px;
    min-width: 800px;
    z-index: -1;
}
.container-form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.formulario1{
    width: 800px;
    background: white;
    box-shadow:#6c3483;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 600px;
    min-width: 400px;

}
.formulario1 h1{
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 34px;
    font-weight: 700;
    font-family: georgia;
}
.formulario1 form{
    padding: 0 60px;
    box-sizing: border-box;
}
form .username1{
    position: relative;
    margin: 7px 0;
}
.username1 input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #cfcfcf;
    background: #fae9ff;
    outline: none;
    border-radius: 7px;
}
button[class="cancelar"]{
    width: 80%;
    height: 40px;
    margin: 20px 5px 30px 65px;
    border: 1px solid #cfcfcf;
    background: #ebebeb;
    border-radius: 7px;
    font-size: 18px;
    color: #b38df7;
    cursor: pointer;
    outline: none;
    font-weight: 600;
}
button[type="button"]:hover{
    border-color: purple;
    transition: .3s;
    background: #e8e5e5;
    color: #b38df7;
}
button[class="cotinuar"]{
    width: 70%;
    height: 40px;
    margin: 0px 0px 20px 60px;
    border: 1px solid #b8c0ff;
    background: #ce93d8;
    border-radius: 7px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: 600;
}
button[class="ingresar"]{
    padding: 5px 40px;
    border: 1px solid #cfcfcf;
    background: #ebebeb;
    border-radius: 7px;
    font-size: 18px;
    color: #b38df7;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    margin-top: 2px;
}
button[class="Registrarse"]{
    padding: 5px 40px;
    border: 1px solid #b8c0ff;
    background: #ce93d8;
    border-radius: 7px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    margin-top: 2px;
}
.container-form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.formulario2{
    width: 300px;
    background: white;
    box-shadow:#6c3483;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 600px;
    min-width: 400px;
}
.formulario2 h1{
    text-align: center;
    padding: 30px 0 0px 0;
    font-size: 20px;
    font-weight: 700;
    font-family: georgia;
}
.formulario12 form{
    padding: 0 60px;
    box-sizing: border-box;
}
.solicitud{
    margin: 20px 50px 20px 50px;
    text-align: center;
    font-size: 16px;
}
.navbar-brand{
    font-size: 30px;
    font-family: Cinzel Decorative;
}